{
    "port": 8000,
    "cli": false,
    "database": {
        "connectionString": "postgresql://cecil:password@localhost:5432/tda",
        "maxConnections": 1024
    },
    "logs": {
        "filePath": "/var/log/calendar.log",
        "E": true,
        "W": true,
        "I": false,
        "D": false,
        "V": false
    },
    "jwt": {
        "issuer": "Cecilové",
        "expiresIn": 2592000
    }
}